{% extends "layout.html" %}
{% block body %}
		<script type="text/javascript" src="{{ url_for('static', filename='scripts/chart.js') }}"></script>
		<script src="{{ url_for('static', filename='scripts/jquery-1.11.1.min.js')}}"></script>
		<script src="{{ url_for('static', filename='scripts/highstock.js')}}"></script>
		<div id="chart" style="min-height:50%; width:75%">
		</div>
		<script>
			var ticker = '{{ stock.ticker }}';
			var company_name = '{{ stock.name }}';
			var importData = JSON.parse('{{ data }}');
			var dataset = [];
			for (var i=0; i < importData.length; i++){
				var tmp = [importData[i]['Date'], importData[i]['Adj Close']]
				dataset.push(tmp);
			}
			$(function(){
				$('#chart').highcharts('StockChart', {
								rangeSelector : {
								selected : 1,
								inputEnabled: $('#chart').width() > 480
							},
							title : { text : company_name },
							series : [{
								name : ticker,
								data : dataset,
								tooltip: { valueDecimals: 2 }
							}]
						})
			});
		</script>
{% endblock %}
