<html>
	<head>
		{% if title %}
		<title>{{ title }}</title>
		{% else %}
		<title>Welcome to Chartflux!</title>
		{% endif %}
	</head>
	<body>
		<h2>Welcome. Enter a ticker symbol:</h2>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
					<h3>Message: {{ message }}</h3>
				{% endfor %}
			{% endif %}
		{% endwith %}
		{% if error %}
			<h3>Error: {{ error }}</h3>
		{% endif %}
		<form method="GET" action="/chart">
				<input type="text" name="ticker" />
		<input type="submit" value="Go">
		</form>
	</body>
</html>
